<!DOCTYPE html>
{% load static %}
{% load i18n%}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Additional User Info</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}" />
</head>
<body>
    <div class="add_info">
        <h4>Additional User Information</h4>
        <form method="POST">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="btn-submit">Submit</button>
        </form>
    </div>
</body>
</html>
