{% extends "base.html" %}

{% block content %}
{% load i18n%}

<div class="delete-container">
    <p style="color: white;">{%trans "Are you sure want to delete" %}</p>
    <h4>"{{task.title}}"</h4>
    <div class="btn-container">
        <a href="{% url 'todo-form' %}">
            <button class="btn-cancel">{%trans "Cancel" %}</button>
        </a>
        <form action="" method='POST'>
            {% csrf_token %}
            <button class="btn-delete">{%trans "Delete" %}</button>
        </form>
       
    </div>
</div>

{% endblock content %}
